@import '../../scss/abstracts/variables';

.product {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;

  &__image {
    width: 100%;
  }

  &__title {
    font-size: 25px;
    font-weight: 900;
  }

  &__selector {
    display: flex;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    flex-direction: column;
    padding: 10px 0;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}

.selector {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  &__type {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  &__size {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  &__link {
    width: 100%;
    border: 1px solid transparent;
    padding: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;

    &.active,
    &:hover {
      background: $gray-hover;
      border-color: $black;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
      border-radius: 5px;
      cursor: auto;
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}
