@import '../scss/abstracts/variables';

.categories {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 10px;
    font-weight: bold;
  }

  &__link {
    padding: 13px 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &.active,
    &:active,
    &:hover {
      border-bottom: 3px solid $yellow;
    }
  }
}
