@import '../../scss/abstracts/variables';

.sort {
  position: relative;

  &__label {
    display: flex;
    align-items: center;
  }

  &__button {
    margin-left: 5px;
    color: $yellow;
    border-bottom: 1px dashed $yellow;
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: $white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;
  }

  &__list {
    overflow: hidden;
  }

  &__link {
    padding: 12px 20px;
    width: 100%;

    &.active,
    &:hover {
      color: $yellow;
      background: rgba(250, 191, 0, 0.05);
    }
  }
}
