@import './scss/abstracts/variables';
@import './scss/vendor/normalize';
@import './scss/components/all';

.content {
  margin-bottom: 50px;

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
  }

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
}
